<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Pragma" content="no-cache">
  <title>GifGen</title>
  <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon.png" />
</head>
<body ng-app="gifGen" ng-controller="gifGenCtrl">
  <div id="mainDiv">
    <br>
    <div class="spinner" ng-show="loading">
      <div class="cube1"></div>
      <div class="cube2"></div>
    </div>

    <!-- https://placehold.it/900x450&amp;text=Platzhalter -->
    <div class="row cover-row" ng-show="!loading">
      <div class="medium-9 small-centered text-center columns" id="mydiv">
        <ul class="breadcrumbs">
          <li class="unavaiable"><a href="https://www.reddit.com/">Subreddits</a></li>
          <li ng-repeat="links in subReddits" class="unavailable"><a href="https://www.reddit.com/r/{{ links }}" target="_blank">{{ links }}</a></li>
        </ul>
        <p style="text-align: center;"  id="myp">
        <a ng-if="isMobile" ng-click="showNextContent();">
          <img id="image" src="{{ links[dataIndex] }}" class="img-responsive">
        </a>
        <asd ng-if="!isMobile">
          <img id="image" src="{{ links[dataIndex] }}" class="img-responsive">
        </asd>
        </p>
        <hr>
        <p style="text-align: center; " class="font-weight-light" ng-if="links.length > 0">
            {{ titles[dataIndex] }}
        </p>
        <p style="text-align: center;" class="font-weight-light" ng-if="links.length > 1">
           {{ links.length }} Pictures left
        </p>
        <p style="text-align: center;" class="font-weight-light" ng-if="links.length == 1">
           {{ links.length }} Picture left
        </p>
        <br ng-if="!isMobile">
        <p style="text-align: center;">
          <button ng-if="!isMobile" id="buttonInfo" class="button primary" ng-click="showNextContent();">NEXT</button>
          <!-- Target -->
          <button ng-if="!isMobile" id="buttonShare" class="button primary" ng-click="shareContent();">SHARE</button>
        </p>
        <footer class="footer">
          <div class="container">
            <span class="text-muted">v1.5</span>
          </div>
        </footer>
      </div>
    </div>
  </div>
</body>

<script src="js/hash.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.css">
<script>document.write('<link rel="stylesheet" href="css/main.css?v=' + hex_md5(makeid()) + '"\><\/script>');</script>
<!-- <script src="js/main.js"></script> -->
<script src="js/bootbox.min.js"></script>
<!-- Essential for Clearing Cache / HASHING -->
<script>document.write('<script src="js/main.js?v=' + b64_md5(makeid()) + '"\><\/script>');</script>


<!-- <link rel="stylesheet" href="css/main.css"> -->



</html>
